# Ignore all node_modules folders
**/node_modules/

# Ignore all .env files
**/.env

# Logs
*.log
npm-debug.log*

# Build output
fronted/dist/
fronted/build/

# System files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
